
/src/.vs
/src/obj
/src/bin
/src/.vs
/src/obj
/src/bin
/src/bin
/src/.vs/ProjectEvaluation
/src/.vs
/src/.vs/SlugPack/FileContentIndex
/src/.vs/SlugPack
/src/.vs
/src/obj/Debug/net48
/src/obj/Debug
/src/obj
