[*.cs]

# S112: General or reserved exceptions should never be thrown
dotnet_diagnostic.S112.severity = none

# Default severity for analyzer diagnostics with category 'Major Code Smell'
dotnet_analyzer_diagnostic.category-Major Code Smell.severity = none

# S2933: Fields that are only assigned in the constructor should be "readonly"
dotnet_diagnostic.S2933.severity = none

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = none

# S1066: Mergeable "if" statements should be combined
dotnet_diagnostic.S1066.severity = warning

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0003.severity = warning

# IDE0002: Simplify Member Access
dotnet_diagnostic.IDE0002.severity = warning

# S1854: Unused assignments should be removed
dotnet_diagnostic.S1854.severity = none

# S101: Types should be named in PascalCase
dotnet_diagnostic.S101.severity = none

# S2094: Classes should not be empty
dotnet_diagnostic.S2094.severity = none

# S108: Nested blocks of code should not be left empty
dotnet_diagnostic.S108.severity = none

# S1121: Assignments should not be made from within sub-expressions
dotnet_diagnostic.S1121.severity = none

# S6605: Collection-specific "Exists" method should be used instead of the "Any" extension
dotnet_diagnostic.S6605.severity = none

# S2589: Boolean expressions should not be gratuitous
dotnet_diagnostic.S2589.severity = none

# S2223: Non-constant static fields should not be visible
dotnet_diagnostic.S2223.severity = none

# S3358: Ternary operators should not be nested
dotnet_diagnostic.S3358.severity = none

# S2583: Conditionally executed code should be reachable
dotnet_diagnostic.S2583.severity = none

# S1104: Fields should not have public accessibility
dotnet_diagnostic.S1104.severity = none

# S2696: Instance members should not write to "static" fields
dotnet_diagnostic.S2696.severity = none

# S3626: Jump statements should not be redundant
dotnet_diagnostic.S3626.severity = none

# S1481: Unused local variables should be removed
dotnet_diagnostic.S1481.severity = none

# CS9113: Parameter is unread.
dotnet_diagnostic.CS9113.severity = none

# S1751: Loops with at most one iteration should be refactored
dotnet_diagnostic.S1751.severity = none

# CS0649: Field 'WeakTables.ScanLine.pointTo' is never assigned to, and will always have its default value
dotnet_diagnostic.CS0649.severity = none

# S4136: Method overloads should be grouped together
dotnet_diagnostic.S4136.severity = none

# S1643: Strings should not be concatenated using '+' in a loop
dotnet_diagnostic.S1643.severity = none

# IDE0300: Simplify collection initialization
dotnet_diagnostic.IDE0300.severity = warning

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = none

# IDE0001: Simplify Names
dotnet_diagnostic.IDE0001.severity = suggestion

# CS9179: Primary constructor parameter is shadowed by a member from base
dotnet_diagnostic.CS9179.severity = none

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = none

# CS0162: Unreachable code detected
dotnet_diagnostic.CS0162.severity = silent
